

<button (click)="getRecords()">Obtener Registros</button>
<div *ngIf="showData">  <!-- Aquí coloca la estructura HTML para mostrar los datos -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Username</th>
        <!-- Otros encabezados de las columnas -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of Records">
        <td>{{ record.id }}</td>
        <td>{{ record.firstname }}</td>
        <td>{{ record.username }}</td>
        <!-- Otros campos de los registros -->
      </tr>
    </tbody>
  </table>
</div>



